pazetweb/public/bower_components/*

\.idea/

pazetweb/env/

pazetweb/App/settings\.py

virtualenv/

*.pyc

pazetweb/upload_clima_diario\.log

pazetweb/*\.log

pazetweb/aquacrop/temperature\.TMP

pazetweb/aquacrop/precipitation\.PLU

pazetweb/aquacrop/media_anual_atmosferica\.CO2

pazetweb/aquacrop/evapotranspiration\.ETo

pazetweb/aquacrop/irrigacion\.IRR
