{% extends "layouts/layout_dashboard.html" %}
{% load staticfiles %}


{% block css %}

{% endblock css %}

{% block contenido %}
<div class="ui container margintop">

    <div class="ui segment">


        <h2 class="ui header dividing">
            <img src="{% static 'images/dashboard/cultivos/cultivo2.png' %}" class="ui image">
            <div class="content">
                Cultivo
                <div class="sub header">
                    <i>Información cultivo</i>
                </div>
            </div>
        </h2>


        <div class="ui clearing divider"></div>


        <div class="ui link three cards">

            <a href="{% url 'cultivo:herbaseos_frutas_granos' %}" class="card">
                <div class="image">
                    <img src="{% static 'images/base_mensual.png' %}">
                </div>
                <div class="content">
                    <div class="header">Herbáseos Frutas y Granos</div>

                    <div class="description">
                        ....
                    </div>
                </div>
            </a>

            <a href="{% url 'cultivo:herbaseos_vegetales_hoja' %}" class="card">
                <div class="image">
                    <img src="{% static 'images/base_mensual.png' %}">
                </div>
                <div class="content">
                    <div class="header">Herbáseos Vegetales de Hoja</div>
                    <div class="description">
                        ...
                    </div>
                </div>
            </a>

            <a href="{% url 'cultivo:herbaseos_raices_tuberculos' %}" class="card">
                <div class="image">
                    <img src="{% static 'images/base_co2.png' %}">
                </div>
                <div class="content">
                    <div class="header"> Herbáseos Raices y Tuberculos</div>
                    <div class="description">
                        ...
                    </div>
                </div>
            </a>

            <a href="{% url 'cultivo:herbaseos_cultivos_forrajeros' %}" class="card">
                <div class="image">
                    <img src="{% static 'images/base_co2.png' %}">
                </div>
                <div class="content">
                    <div class="header"> Herbáseos Cultivos Forrajeros</div>
                    <div class="description">
                        ...
                    </div>
                </div>
            </a>

            <a href="{% url 'cultivo:arboreos' %}" class="card">
                <div class="image">
                    <img src="{% static 'images/base_co2.png' %}">
                </div>
                <div class="content">
                    <div class="header">Arbóreos</div>
                    <div class="description">
                        ...
                    </div>
                </div>
            </a>

        </div>

    </div>

</div>

{% endblock contenido %}


{% block script %}

{% endblock script %}
